.hero-section{
    max-width: 100%;
    height: auto;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 12px;
    margin: auto;
    flex-direction: column;

}
.hero-text{
    text-align: center;
    justify-content: center;
    margin: auto;
    max-width: 60%;
    
}
.hero-heading{
    font-size: 40px;
    margin-top: 10px;
}
.hero-text p{
    font-size: 20px;
    font-weight: 400;
    
}
.money-donation-heading{
    margin-top: 30px;
    font-style: bold;
    font-size: 30px;
    font-weight:bold;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 80%;

}
.money-donation{
    max-width: 100%;
    height: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 12px;
    margin-top: 30px;
}
.item-donation-heading{
    margin-top: 20px;
    font-style: bold;
    font-size: 20px;
    font-weight:bold;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;

}
.item-donation{
    max-width: 100%;
    height: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 12px;
    margin-top: 30px;
}
.item-category{
    margin: 10px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    padding: 5px;

}